.SigninForm {   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .Input {
        margin-bottom: 10px;
    }
    .SigninForm-msg {
        color: #fa6462;
        font-size: 12px;
        visibility: hidden;
    }
}