.Preparation {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F8F8F8;
    #content {
        width: 65%;
        height: 55%;
        background-clip: padding-box;
        background-color: white;
        padding: 3%;
    }
}