.Profile {
    display: flex;
    flex-direction: row;
    p {
        margin: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
        font-family: NanumSquare;
        font-size: 16px;
        color: #808083;
    }
    img {
        width: 28px;
        height: 28px;
        object-fit: contain;
    }
}