.Banner {
  font-family: NanumSquare;
  font-size: 28px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #00cccc;
  height: 4%;
  width: 100%;
  text-align: center;
}