.Button2 {
    max-width: 300px;
    max-height: 45px;
    width: 100%;
    height: auto;
    padding: 10px 0px;
    border-radius: 100px;
    border: 1px solid #00cccc;
    font-family: NanumSquare;
    font-size: 18px;
    font-weight: bold;
    color: #00cccc;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    margin: 0;
}

.Button2:disabled {
    background-color: #f8f8f8;
    border: 0;
    color: white;
}