.Button1 {
    width: 320px;
    height: 46px;
    border-radius: 100px;
    background-color: #00cccc;
    font-family: NanumSquare;
    font-size: 18px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}