.Description {
    width: 50%;
    height: auto;
    word-break: keep-all;
    text-align: center;
    font-family: NanumSquare;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #000000;
}