.ErrorPopup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;

    .ErrorPopup-wrapper {
        width: 50%;
        height: 60%;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.1);
        background-color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;

        .ErrorPopup-contents {
            width: 100%;
            height: 80%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            p {
                width: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                font-family: NanumSquare;
                margin: 5px;
            }

            .title-wrapper {
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                img[alt="icon-error"] {
                    width: 50px;
                    height: 50px;
                    object-fit: contain;
                }

                .title-ko {
                    font-size: 30px;
                    color: #00cccc;
                    margin-top: 20px;
                }

                .title-eg {
                    font-size: 20px;
                    color: #00cccc;
                }
            }

            .des-wrapper {
                width: 100%;
                height: 50%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;

                .des {
                    font-size: 14px;
                    color: #808083;
                }

            }

        }

    }

}